<a href="https://colab.research.google.com/github/JumanaRahim/Lab/blob/main/naive_bayes_continue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.datasets import load_wine
data = load_wine()
x=data.data
y=data.target
from sklearn.naive_bayes import BernoulliNB
clf=BernoulliNB()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,train_size = .8)
ML=clf.fit(x_train, y_train)
y_pred =clf.predict(x_test)
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
print(score*100)

47.22222222222222

In [ ]:
import pandas as pd
from sklearn.datasets import load_wine
data = load_wine()
x=data.data
y=data.target
from sklearn.naive_bayes import BernoulliNB
clf=BernoulliNB()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,train_size = .8)
ML=clf.fit(x_train, y_train)
y_pred =clf.predict(x_test)
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
print(score*100)
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

44.44444444444444

In [1]:

import pandas as pd
data=pd.read_csv("/content/diabetes.csv")
x=data[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction"]]
y=data["Outcome"]
from sklearn.naive_bayes import BernoulliNB
clf=BernoulliNB()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,train_size = .8)
ML=clf.fit(x_train, y_train)
y_pred =clf.predict(x_test)
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
print(score*100)

68.83116883116884

In [4]:
import pandas as pd
data=pd.read_csv("/content/diabetes.csv")
x=data[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction"]]
y=data["Outcome"]
from sklearn.naive_bayes import MultinomialNB
clf=MultinomialNB()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,train_size = .8)
ML=clf.fit(x_train, y_train)
y_pred =clf.predict(x_test)
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
print(score*100)

62.33766233766234

In [5]:
import pandas as pd
data=pd.read_csv("/content/diabetes.csv")
x=data[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction"]]
y=data["Outcome"]
from sklearn.naive_bayes import GaussianNB
clf=GaussianNB()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,train_size = .8)
ML=clf.fit(x_train, y_train)
y_pred =clf.predict(x_test)
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
print(score*100)

72.72727272727273

In [8]:
import pandas as pd
data=pd.read_csv("/content/HepatitisCdata.csv")
x=data[["Category","Age","Sex","ALB","ALP","ALT","AST","BIL","CHE","CHOL","CREA","GGT"]]
y=data["PROT"]
data

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,3=Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,3=Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,3=Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,614,3=Cirrhosis,46,f,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,615,3=Cirrhosis,59,f,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [18]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
cols=['Category','Age','ALP','GGT']
df[cols]=df[cols].apply(LabelEncoder().fit_transform)
print(head)
df.head()

NameError: ignored