<a href="https://colab.research.google.com/github/JumanaRahim/Lab/blob/main/EXP.NO.2/Naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. load data
import pandas as pd
data=pd.read_csv("/content/wine.csv")
x=data[["Alcohol","Malic.acid","Ash","Acl","Mg","Phenols","Flavanoids","Nonflavanoid.phenols"]]
y=data["Wine"]
from sklearn.naive_bayes import GaussianNB
clf=GaussianNB()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,train_size = .8)
ML=clf.fit(x_train, y_train)
y_pred =clf.predict(x_test)
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
print(score*100)

88.88888888888889

In [1]:

from sklearn.datasets import load_wine
data = load_wine()

In [2]:
x=data.data
y=data.target

In [6]:
from sklearn.naive_bayes import GaussianNB
clf_1=GaussianNB()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size =.8)
ML_1=clf_1.fit(x_train, y_train)
from sklearn.naive_bayes import MultinomialNB
clf_2=MultinomialNB()
ML_2=clf_2.fit(x_train,y_train)
from sklearn.naive_bayes import BernoulliNB
clf_3=BernoulliNB(binarize=2)
ML_3=clf_3.fit(x_train,y_train)
y_pred1=clf_1.predict(x_test)
y_pred2=clf_2.predict(x_test)
y_pred3=clf_3.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_1=accuracy_score(y_test,y_pred1)
print("Gaussian :",accuracy_1*100)
accuracy_2=accuracy_score(y_test,y_pred2)
print("Multinomial : ",accuracy_2*100)
accuracy_3=accuracy_score(y_test,y_pred3)
print("Bernoulli : ",accuracy_3*100)

Gaussian : 97.22222222222221
Multinomial :  88.88888888888889
Bernoulli :  72.22222222222221

In [7]:
import pandas as pd
file_2=pd.read_csv("/content/HepatitisCdata (2).csv")
x=file_2[["Age","Sex","ALB","ALP","ALT","AST","BIL","CHE","CHOL","CREA","GGT","PROT"]]
y=file_2["Category"]
x

     Age Sex   ALB    ALP    ALT    AST   BIL    CHE  CHOL   CREA    GGT  PROT
0     32   m  38.5   52.5    7.7   22.1   7.5   6.93  3.23  106.0   12.1  69.0
1     32   m  38.5   70.3   18.0   24.7   3.9  11.17  4.80   74.0   15.6  76.5
2     32   m  46.9   74.7   36.2   52.6   6.1   8.84  5.20   86.0   33.2  79.3
3     32   m  43.2   52.0   30.6   22.6  18.9   7.33  4.74   80.0   33.8  75.7
4     32   m  39.2   74.1   32.6   24.8   9.6   9.15  4.32   76.0   29.9  68.7
..   ...  ..   ...    ...    ...    ...   ...    ...   ...    ...    ...   ...
610   62   f  32.0  416.6    5.9  110.3  50.0   5.57  6.30   55.7  650.9  68.5
611   64   f  24.0  102.8    2.9   44.4  20.0   1.54  3.02   63.0   35.9  71.3
612   64   f  29.0   87.3    3.5   99.0  48.0   1.66  3.63   66.7   64.2  82.0
613   46   f  33.0    NaN   39.0   62.0  20.0   3.56  4.20   52.0   50.0  71.0
614   59   f  36.0    NaN  100.0   80.0  12.0   9.07  5.30   67.0   34.0  68.0

[615 rows x 12 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
x["Sex"]=lb.fit_transform(x["Sex"])
x=x.fillna(0)
x

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...
610,62,0,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,64,0,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,64,0,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,46,0,33.0,0.0,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,59,0,36.0,0.0,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [10]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.8)

In [12]:
from sklearn.naive_bayes import GaussianNB
clf_1=GaussianNB()
clf_1=clf_1.fit(xtrain,ytrain)

In [14]:
from sklearn.naive_bayes import MultinomialNB
clf_2=MultinomialNB()
ml_2=clf_2.fit(xtrain,ytrain)

In [18]:
from sklearn.naive_bayes import BernoulliNB
clf_3=BernoulliNB(binarize=3)
ml_3=clf_3.fit(xtrain,ytrain)

In [16]:
res_1=ml_1.predict(xtest)
res_2=ml_2.predict(xtest)
res_3=ml_3.predict(xtest)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_1=accuracy_score(ytest,res_1)
print("Gaussian :",accuracy_1*100)
accuracy_2=accuracy_score(ytest,res_2)
print("Multinomial : ",accuracy_2*100)
accuracy_3=accuracy_score(ytest,res_3)
print("Bernoulli : ",accuracy_3*100)

Gaussian : 93.4959349593496
Multinomial :  92.6829268292683
Bernoulli :  90.2439024390244